
body{
    background-color: #d1e0f2;
    display:flexbox;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.tab_box{
    width: 100%;
    display:flexbox;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgba(red, green, blue, alpha);
    position:relative;
}

.tab_box .tab_btn{
    font-size: 18px;
    font-weight: 600;
    color: beige;
    background:none;
    border: none;
    padding:18px;
    cursor: pointer;
}
.tab_box .tab_btn.active{
    color:blanchedalmond;
}

.content_box{
    padding: 20px;
}
.content_box .content{
    display:flexbox;
    animation: moving .5s ease;
}

@keyframes moving {
    from{transform: translateX(50px);opacity: 0;}
    to{transform: translateX(0px); opacity: 1;}
}
.content_box .content.active{
    display: block;
}

.content_box .content{
    display: none;
}
.content_box .content h2{
    margin-bottom: 10px;
}
.line{
    position: absolute;
    top: 62px;
    left: 17px;
    width: 90px;
    height: 5px;
    background-color: antiquewhite;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
p {
    word-break: normal;
    white-space: normal;
    word-wrap: break-word; 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
  }
